@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400|Inter:600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
.btn{
  transition: .2s;
  cursor: pointer;
}
.btn:hover{
  transform: translateY(-3px);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/635131b13f27792e46569104/fonts/gilroy-medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62e5bd2f729e81c0f2cb0ddb/fonts/sf-pro-display-regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/64f7ed1586d1fc0125de8d9c/fonts/sf-pro-display-medium.otf")
    format("opentype");
}

@font-face {
  font-family: "Helvetica Neue-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/637de592a17e9f3ed8e13315/fonts/helveticaneue-bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-Semibold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62600488abc580a946ffeaea/fonts/fontsfree-net-sfprodisplay-semibold.ttf")
    format("truetype");
}
