:root {
  --designbackgroundprimary: rgba(255, 255, 255, 1);
  --designbackgroundsecondary: rgba(229, 235, 236, 1);
  --designbackgroundtertiary: rgba(240, 244, 244, 1);
  --designbackgroundstroke: rgba(229, 230, 230, 1);
  --designbackgroundicons: rgba(152, 176, 180, 1);
  --designbackgroundblur-20: rgba(255, 255, 255, 0.2);
  --designtexttitle: rgba(0, 0, 0, 1);
  --designtextbody: rgba(72, 76, 79, 1);
  --designtextcaption: rgba(156, 168, 176, 1);
  --designprimary-100: rgba(56, 142, 250, 1);
  --designprimary80-main: rgba(95, 164, 251, 1);
  --designprimary-60: rgba(146, 193, 252, 1);
  --designprimary-20: rgba(205, 227, 254, 1);
  --designsecondary-100: rgba(179, 226, 70, 1);
  --designsecondary-80: rgba(215, 238, 161, 1);
  --designothersuccess: rgba(215, 238, 161, 1);
  --designothererror: rgba(254, 131, 45, 1);
  --designotherwarning: rgba(248, 243, 139, 1);
  --designdark-modebackgroundprimary: rgba(29, 30, 31, 1);
  --designdark-modebackgroundsecondary: rgba(44, 46, 47, 1);
  --designdark-modebackgroundtertiary: rgba(74, 75, 76, 1);
  --designdark-modebackgroundstroke: rgba(108, 109, 109, 1);
  --designdark-modebackgroundicons: rgba(161, 169, 170, 1);
  --wireframesbackgroundprimary: rgba(255, 255, 255, 1);
  --wireframesbackgroundsecondary: rgba(244, 245, 245, 1);
  --wireframesbackgroundtertiary: rgba(232, 232, 232, 1);
  --wireframesbackgroundstroke: rgba(206, 210, 211, 1);
  --wireframesbackgroundicons: rgba(175, 175, 175, 1);
  --wireframestexttitle: rgba(73, 65, 65, 1);
  --wireframestextbody: rgba(140, 138, 148, 1);
  --wireframestextcaption: rgba(180, 177, 177, 1);
  --wireframesaccentprimary: rgba(94, 94, 94, 1);
  --wireframesaccentsecondary: rgba(160, 160, 160, 1);
  --system-coloursdefault-colorssystemwhiteblackdark: rgba(0, 0, 0, 1);
  --system-coloursdefault-colorssystemwhiteblacklight: rgba(255, 255, 255, 1);
  --header-h1-semi-64-font-family: "SF Pro Display", Helvetica;
  --header-h1-semi-64-font-weight: 400;
  --header-h1-semi-64-font-size: 64px;
  --header-h1-semi-64-letter-spacing: -0.64px;
  --header-h1-semi-64-line-height: 70px;
  --header-h1-semi-64-font-style: normal;
  --header-h2-semi-48-font-family: "SF Pro Display", Helvetica;
  --header-h2-semi-48-font-weight: 600;
  --header-h2-semi-48-font-size: 48px;
  --header-h2-semi-48-letter-spacing: -0.48px;
  --header-h2-semi-48-line-height: 54px;
  --header-h2-semi-48-font-style: normal;
  --header-h3-semi-42-font-family: "SF Pro Display", Helvetica;
  --header-h3-semi-42-font-weight: 400;
  --header-h3-semi-42-font-size: 42px;
  --header-h3-semi-42-letter-spacing: -0.42px;
  --header-h3-semi-42-line-height: 50px;
  --header-h3-semi-42-font-style: normal;
  --header-h4-semi-36-font-family: "SF Pro Display", Helvetica;
  --header-h4-semi-36-font-weight: 600;
  --header-h4-semi-36-font-size: 36px;
  --header-h4-semi-36-letter-spacing: -0.36px;
  --header-h4-semi-36-line-height: 44px;
  --header-h4-semi-36-font-style: normal;
  --header-h5-semi-32-font-family: "SF Pro Display", Helvetica;
  --header-h5-semi-32-font-weight: 600;
  --header-h5-semi-32-font-size: 32px;
  --header-h5-semi-32-letter-spacing: -0.32px;
  --header-h5-semi-32-line-height: 38px;
  --header-h5-semi-32-font-style: normal;
  --header-h6-semi-26-font-family: "SF Pro Display", Helvetica;
  --header-h6-semi-26-font-weight: 600;
  --header-h6-semi-26-font-size: 26px;
  --header-h6-semi-26-letter-spacing: -0.26px;
  --header-h6-semi-26-line-height: 32px;
  --header-h6-semi-26-font-style: normal;
  --header-h7-semi-22-font-family: "SF Pro Display", Helvetica;
  --header-h7-semi-22-font-weight: 400;
  --header-h7-semi-22-font-size: 22px;
  --header-h7-semi-22-letter-spacing: -0.22px;
  --header-h7-semi-22-line-height: 26px;
  --header-h7-semi-22-font-style: normal;
  --large-bold-18-font-family: "SF Pro Display", Helvetica;
  --large-bold-18-font-weight: 700;
  --large-bold-18-font-size: 18px;
  --large-bold-18-letter-spacing: 0px;
  --large-bold-18-line-height: 24px;
  --large-bold-18-font-style: normal;
  --large-semi-18-font-family: "SF Pro Display", Helvetica;
  --large-semi-18-font-weight: 400;
  --large-semi-18-font-size: 18px;
  --large-semi-18-letter-spacing: 0px;
  --large-semi-18-line-height: 24px;
  --large-semi-18-font-style: normal;
  --large-med-18-font-family: "SF Pro Display", Helvetica;
  --large-med-18-font-weight: 500;
  --large-med-18-font-size: 18px;
  --large-med-18-letter-spacing: 0px;
  --large-med-18-line-height: 24px;
  --large-med-18-font-style: normal;
  --large-reg-18-font-family: "SF Pro Display", Helvetica;
  --large-reg-18-font-weight: 400;
  --large-reg-18-font-size: 18px;
  --large-reg-18-letter-spacing: 0px;
  --large-reg-18-line-height: 24px;
  --large-reg-18-font-style: normal;
  --medium-bold-16-font-family: "SF Pro Display", Helvetica;
  --medium-bold-16-font-weight: 700;
  --medium-bold-16-font-size: 16px;
  --medium-bold-16-letter-spacing: 0px;
  --medium-bold-16-line-height: 24px;
  --medium-bold-16-font-style: normal;
  --medium-semi-16-font-family: "SF Pro Display", Helvetica;
  --medium-semi-16-font-weight: 400;
  --medium-semi-16-font-size: 16px;
  --medium-semi-16-letter-spacing: 0px;
  --medium-semi-16-line-height: 24px;
  --medium-semi-16-font-style: normal;
  --medium-med-16-font-family: "SF Pro Display", Helvetica;
  --medium-med-16-font-weight: 500;
  --medium-med-16-font-size: 16px;
  --medium-med-16-letter-spacing: 0px;
  --medium-med-16-line-height: 24px;
  --medium-med-16-font-style: normal;
  --medium-reg-16-font-family: "SF Pro Display", Helvetica;
  --medium-reg-16-font-weight: 400;
  --medium-reg-16-font-size: 16px;
  --medium-reg-16-letter-spacing: 0px;
  --medium-reg-16-line-height: 24px;
  --medium-reg-16-font-style: normal;
  --regular-bold-14-font-family: "SF Pro Display", Helvetica;
  --regular-bold-14-font-weight: 700;
  --regular-bold-14-font-size: 14px;
  --regular-bold-14-letter-spacing: 0px;
  --regular-bold-14-line-height: 18px;
  --regular-bold-14-font-style: normal;
  --regular-semi-14-font-family: "SF Pro Display", Helvetica;
  --regular-semi-14-font-weight: 400;
  --regular-semi-14-font-size: 14px;
  --regular-semi-14-letter-spacing: 0px;
  --regular-semi-14-line-height: 18px;
  --regular-semi-14-font-style: normal;
  --regular-med-14-font-family: "SF Pro Display", Helvetica;
  --regular-med-14-font-weight: 500;
  --regular-med-14-font-size: 14px;
  --regular-med-14-letter-spacing: 0px;
  --regular-med-14-line-height: 18px;
  --regular-med-14-font-style: normal;
  --regular-reg-14-font-family: "SF Pro Display", Helvetica;
  --regular-reg-14-font-weight: 400;
  --regular-reg-14-font-size: 14px;
  --regular-reg-14-letter-spacing: 0px;
  --regular-reg-14-line-height: 18px;
  --regular-reg-14-font-style: normal;
  --small-bold-12-font-family: "SF Pro Display", Helvetica;
  --small-bold-12-font-weight: 700;
  --small-bold-12-font-size: 12px;
  --small-bold-12-letter-spacing: 0px;
  --small-bold-12-line-height: 18px;
  --small-bold-12-font-style: normal;
  --small-semi-12-font-family: "SF Pro Display", Helvetica;
  --small-semi-12-font-weight: 400;
  --small-semi-12-font-size: 12px;
  --small-semi-12-letter-spacing: 0px;
  --small-semi-12-line-height: 18px;
  --small-semi-12-font-style: normal;
  --small-med-12-font-family: "SF Pro Display", Helvetica;
  --small-med-12-font-weight: 500;
  --small-med-12-font-size: 12px;
  --small-med-12-letter-spacing: 0px;
  --small-med-12-line-height: 18px;
  --small-med-12-font-style: normal;
  --small-reg-12-font-family: "SF Pro Display", Helvetica;
  --small-reg-12-font-weight: 400;
  --small-reg-12-font-size: 12px;
  --small-reg-12-letter-spacing: 0px;
  --small-reg-12-line-height: 18px;
  --small-reg-12-font-style: normal;
  --tiny-bold-10-UPPER-font-family: "SF Pro Display", Helvetica;
  --tiny-bold-10-UPPER-font-weight: 700;
  --tiny-bold-10-UPPER-font-size: 10px;
  --tiny-bold-10-UPPER-letter-spacing: 0.2px;
  --tiny-bold-10-UPPER-line-height: 16px;
  --tiny-bold-10-UPPER-font-style: normal;
  --tiny-semi-10-UPPER-font-family: "SF Pro Display", Helvetica;
  --tiny-semi-10-UPPER-font-weight: 700;
  --tiny-semi-10-UPPER-font-size: 10px;
  --tiny-semi-10-UPPER-letter-spacing: 0.2px;
  --tiny-semi-10-UPPER-line-height: 16px;
  --tiny-semi-10-UPPER-font-style: normal;
  --tiny-med-10-UPPER-font-family: "SF Pro Display", Helvetica;
  --tiny-med-10-UPPER-font-weight: 500;
  --tiny-med-10-UPPER-font-size: 10px;
  --tiny-med-10-UPPER-letter-spacing: 0.2px;
  --tiny-med-10-UPPER-line-height: 16px;
  --tiny-med-10-UPPER-font-style: normal;
  --tiny-reg-10-UPPER-font-family: "SF Pro Display", Helvetica;
  --tiny-reg-10-UPPER-font-weight: 400;
  --tiny-reg-10-UPPER-font-size: 10px;
  --tiny-reg-10-UPPER-letter-spacing: 0.2px;
  --tiny-reg-10-UPPER-line-height: 16px;
  --tiny-reg-10-UPPER-font-style: normal;
  --1: 0px 8px 26px -4px rgba(0, 0, 0, 0.08);
  --2: 1px -6px 19px 0px rgba(159, 168, 168, 0.12);
  --xsmall: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --small: 0px 2px 4px -2px rgba(0, 0, 0, 0.06), 0px 4px 8px -2px rgba(0, 0, 0, 0.1);
  --medium: 0px 4px 6px -2px rgba(0, 0, 0, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.08);
  --large: 0px 8px 8px -4px rgba(0, 0, 0, 0.03), 0px 20px 24px -4px rgba(0, 0, 0, 0.08);
  --xlarge: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
  --01: 0px -1px 21px 0px rgba(0, 0, 0, 0.08);
  --variable-collection-100: rgba(201, 232, 127, 1);
  --2-radius-radius-xs: 4px;
  --2-radius-radius-sm: 6px;
  --primitives-colors-base-white: rgba(255, 255, 255, 1);
}
